/* CALCULATOR
  ============================= */
:root {
  --white: #fafafa;
  --dark: #023047;
  --light: #355070;
  --orange: #fb8500;
  --gray: #ced4da;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'DotGothic16', sans-serif;
  color: var(--dark);
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.2rem;
  letter-spacing: 1rem;
}
.calculator {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 7.2rem);
  grid-template-rows: repeat(5, 7.2rem) minmax(7.2rem, auto);
}
.display {
  grid-column: span 4;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 1.6rem;
  border-radius: 1rem 1rem 0 0;
  letter-spacing: 0.5rem;
}
.previous {
  font-size: 2.4rem;
  color: var(--gray);
}
.current {
  color: var(--white);
  font-size: 3.2rem;
}
.fat-key {
  grid-column: span 2;
}
.calculator button {
  font-family: 'DotGothic16', sans-serif;
  font-size: 2.4rem;
  background-color: var(--gray);
  border: thin solid var(--dark);
  color: var(--dark);
}
.calculator button:hover {
  cursor: pointer;
  background-color: var(--light);
  color: var(--white);
}
.calculator [data-operation] {
  background-color: var(--orange);
  color: var(--white);
}
.calculator #result {
  background-color: var(--light);
  color: var(--white);
}
.calculator #result:hover {
  background-color: var(--dark);
}
.calculator button:focus {
  outline: none;
}
/* DEVELOPER
  ============================= */
.dev {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
.dev a {
  color: #05a6f1;
}
.dev a:link {
  text-decoration: none;
}
.dev a:visited {
  font-style: italic;
}
.dev a:hover {
  text-decoration: underline;
}
.dev a:active {
  font-style: italic;
  text-decoration: underline;
  color: gray;
}
.dev .top a,
.dev .bottom a {
  display: flex;
  align-items: center;
  padding: 16px;
}
.dev .top a {
  justify-content: flex-start;
}
.dev .bottom a {
  justify-content: flex-end;
}
.dev span {
  color: gray;
}
.dev img {
  width: 32px;
  margin: 0 8px;
}
